@use '../global.scss';

.testmonial__title {
  padding-bottom: 60px;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #ff5e69;
}
.right__left {
  display: flex;
  justify-content: space-between;
}
.slideshow-container {
  width: 500px;
  position: relative;
}

/* Slides */
.mySlides {
  display: none;
  h1 {
    padding-top: 10px;
    padding-bottom: 30px;
    font-weight: 700;
    font-size: 30px;
    line-height: 47px;
    color: #000000;
  }
  p {
    padding-bottom: 7px;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
  }
  span {
    font-size: 18px;
    line-height: 18px;
    color: #000000;
  }
}

/* Next & previous buttons */
.next {
  margin-left: 60px;
}
.prev,
.next {
    margin-top: 30px;
  cursor: pointer;
  position: absolute;
//   top: 120%;
  padding: 20px;
  color: #fff;
  background: #000;
  font-weight: bold;
  font-size: 20px;
  user-select: none;
}

/* Position the "next button" to the right */
.prev {
  position: absolute;
  left: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  color: white;
}

/* Add a blue color to the author */
@media only screen and (max-width: 1150px) {
    .right__left {
        flex-wrap: wrap;
    }
}
@media only screen and (max-width: 550px) {
    .slideshow-container {
        width: 100%;
    }
}
